@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-controller="Home" asp-action="depense" class="btn btn-primary">overview</a> 
      <a asp-controller="Home" asp-action="MAdepense" class="btn btn-secondary">Creer un Nouveau</a>
</div>
