@model IEnumerable<DemoMvcApp.Models.Product>

<h2>faites votre choix</h2>
<div>
 <div class="d-flex gap-2">
    <a href="/Products/Create" class="btn btn-primary">Ajouter</a>
    <a href="/Products/Afficher" class="btn btn-primary">Afficher</a>
    <a href="/Products/AfficherAll" class="btn btn-primary">Afficher tous</a>
    <a href="/Products/Modifier" class="btn btn-primary">Modifier</a>
    <a href="/Products/Supprimer" class="btn btn-danger">Supprimer</a>
</div>

