<!Doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Ma premiere page web</title>
<link rel="stylesheet" href="/css/normalise.css" />
</head>
<body>
    <header id="mainHeader">
        <img str="lienImage.svg " alt="logo" id="logaImg" />
        <h1>le monde en noire &amp; blanc</h1>
        <nav id="mainNav">
            <ul>
                <li><a href="contact.html">Acueil</a></li>
                <li><a href="about.html">A propos</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <button id="menuToggle"> <img src="/image/layout/humbrger.svg" alt="Ouvrir/fermer le menu" /></button>
    </header>  <!--commentaire-->
    <main id="pageContent">
        <h1>contacter Nous</h1>
        <p>Merci de completer le formulaire</p>
        <form id="frmContact" action="Merci.html">
            <div>
                <label for="fname">Prénom</label>
                <input type="text" name="fName" id="fnaim" />
            </div>
            <div>
                <label for="lname">Nom de famille</label>
                <input type="text" name="lName" id="lnaim" />
            </div>
            <div>
                <label for="email">Votre Email</label>
                <input type="email" name="email" id="email" />
            </div>
            <div>
                <div>
                    ul>li*2>h2+img+p>lorem20
              
                <label for="Message">Votre massage</label>
                <textarea name="message" id="message"></textarea>
            </div>
            </div>
            <input type="submit" value="Envoyer" />

            <button type="submit"
        </form>
    </main>

    
    <footer id="monfooter">
        <p>Copyright @ 2024 - MonSiteWeb.com</p>
    </footer>
</body>
</html>